@page "/route"
@inject IRouteService routeService;
@inject HttpClient http;
@inject NavigationManager navigationManager;
@using FreightTransport_Client.Data.Interfaces;
@using FreightTransport_Client.Data.Models
@using Microsoft.AspNetCore.Http.Extensions

<div class="row justify-content-between">
    <div class="col col-3">
        <h3>Routes</h3>
    </div>
    <div class="col-sm-auto">
        <button type="button" class="btn btn-primary" @onclick="NavigateToAdd">Add route</button>
    </div>
</div>


@if (routeModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">Distance</th>
                <th scope="col">Cost</th>
                <th scope="col">Start sity</th>
                <th scope="col">Start region</th>
                <th scope="col">Destination city</th>
                <th scope="col">Destination region</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in routeModels)
            {
                <tr>
                    <td>@route.Distance</td>
                    <td>@route.Cost</td>
                    <td>@route.StartCity</td>
                    <td>@route.StartRegion</td>
                    <td>@route.DestinationCity</td>
                    <td>@route.DestinationRegion</td>
                    <button class="btn btn-warning" @onclick="() => NavigateToEditing(route.Id)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => DeleteRoute(route.Id)">Delete</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<RouteInfoModel> routeModels;

    protected override async Task OnInitializedAsync()
    {
        routeModels = await routeService.GetAllRoutesInfo();
    }

    private void NavigateToAdd() => navigationManager.NavigateTo("/route/addroute");
    private void NavigateToEditing(int id) => navigationManager.NavigateTo($"/route/editroute/{id}");
    private async void DeleteRoute(int id)
    {
        var result = await routeService.DeleteRoute(id);
        if (result)
        {
            routeModels = await routeService.GetAllRoutesInfo();
            StateHasChanged();
        }

    }

}